/* CSS declarations go here */

@font-face {
   font-family: "league", sans-serif;
   src: url("../fonts/league/leaguegothic-regular.eot");
   src: url("../fonts/league/leaguegothic-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/league/leaguegothic-regular.svg#leaguegothic-regular") format("svg"),
        url("../fonts/league/leaguegothic-regular.ttf") format("truetype"),
        url("../fonts/league/leaguegothic-regular.woff") format("woff")

}

@font-face {
   font-family: "rosario",sans-serif;
    src: url("../fonts/rosario/Rosario-Regular.eot");
    src: url("../fonts/rosario/Rosario-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/rosario/Rosario-Regular.otf") format("otf"),
         url("../fonts/rosario/Rosario-Regular.ttf") format("truetype"),
         url("../fonts/rosario/Rosario-Regular.woff") format("woff"),
         url("../fonts/rosario/Rosario-Regular.woff2") format("woff2")
}

.website {
   /* background-color: black;
    color: white;*/
   font-family: "league", "Times New Roman", sans-serif;
}

html {
   background-color: slategrey;
   font-family: "league", "Times New Roman", sans-serif;
}

body {
    padding-top: 70px;
   font-family: "league", "Times New Roman", sans-serif;
    background-color: slategrey;
}

head {
   font-family: "league", "Times New Roman", sans-serif;
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

#headline-start, #paragraph-one-start {
    color: white;
}

#headline-start {
    font-family: "league", sans-serif;
}

#paragraph-one-start {
    font-family: "rosario", sans-serif;
}

#media-obj {
    width: 64px;
    height: 64px;
}

#social-media-img {
    width: 24px;
    height: 24px;
}

#post-container {
    background-color: rgb(255, 245, 248);
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    height: 60%;
}