/* CSS declarations go here */

@font-face {
   font-family: "league", sans-serif;
   src: url("../fonts/league/leaguegothic-regular.eot");
   src: url("../fonts/league/leaguegothic-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/league/leaguegothic-regular.svg#leaguegothic-regular") format("svg"),
        url("../fonts/league/leaguegothic-regular.ttf") format("truetype"),
        url("../fonts/league/leaguegothic-regular.woff") format("woff")

}

@font-face {
   font-family: "rosario",sans-serif;
    src: url("../fonts/rosario/Rosario-Regular.eot");
    src: url("../fonts/rosario/Rosario-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/rosario/Rosario-Regular.otf") format("otf"),
         url("../fonts/rosario/Rosario-Regular.ttf") format("truetype"),
         url("../fonts/rosario/Rosario-Regular.woff") format("woff"),
         url("../fonts/rosario/Rosario-Regular.woff2") format("woff2")
}

.website {
   /* background-color: black;
    color: white;*/
   font-family: "league", "Times New Roman", sans-serif;
}

html {
   background-color: slategrey;
   font-family: "league", "Times New Roman", sans-serif;
}

body {
    padding-top: 70px;
   font-family: "league", "Times New Roman", sans-serif;
    background-color: slategrey;
}

head {
   font-family: "league", "Times New Roman", sans-serif;
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

#headline-start, #paragraph-one-start {
    color: white;
}

#headline-start {
    font-family: "league", sans-serif;
}

#paragraph-one-start {
    font-family: "rosario", sans-serif;
}

.blog-post ul.card-action-buttons {
     margin: -26px 10px 0 0;
}

.card-action-buttons li {
    float: right;
    padding: 2px;
}

.blog-post {
    width: 240px;
}

.social-icons li {
    float: left;
}

#post-rev-content {
    padding-top: 20px;
}

#card-img-cont {
    width: 100%;
    border-bottom: 2px solid teal;
}

#post-card {
    border: 2px solid teal;
}

#card-img {
    margin-left: 10px;
}

#add-txt {
    padding-top: 30px;
}

#social-media-img {
    width: 24px;
    height: 24px;
}

#profile-pic {
    width: 34px;
    height: 34px;
}

#icons-container {
    padding-top: 10px;
    position: fixed;
    bottom: 10px;
    left: 0;
}

#add-comment-btn {
    position: fixed;
    right: 20px;
    bottom: 10px;
}

#add-post-btn {
    bottom: 15px;
    right: 15px;
}