
<template name="post">

<div class="blog-post">

    <div class="card" id="post-card">
        <div id="card-img-cont" class="card-image waves-effect waves-light">
            <img  id="card-img" class="activator" src="../images/Tyrande.png">
        </div>

        {{> actionButtons}}

        <div class="card-content">
            <p id="add-txt" class="row">
                <span id="category" class="left">Kategori</span>
                <span id="date" class="right">2016-06-06</span>
            </p>
            <span id="post-name" class="card-title activator">Namn på post.
            </span>
            <p id="post-content-intro">
                aksdj adnalskd nalksdn askdna
                asdkadkaös kdlaskd öalsdk öasd kalösdasdasd
            </p>
        </div>

        <div id="post-reveal" class="card-reveal">
            <span id="post-name" class="card-title">Namn på post.
            <i id="close-reveal" class="material-icons right">
                close
            </i>
            </span>

            <p id="post-rev-content">Mer info om inlägget.</p>
            {{> showComments}}
            {{> socialIcons}}
            {{> addCommentButton}}
        </div>

    </div>

</div>

</template>

<template name="showComments">
   <a id="show-comments-btn" class="waves-effect waves-light btn">
        Visa kommentarer<i id="btn-icon" class="material-icons right-align">chevron_right</i>
    </a>

    <div id="content-comments">

        <div id="comment-card" style="display: none" class="card blue-grey darken-1">
            {{> removeCommentBtn}}
            <div id="comment-content"  class="card-content white-text">
                <span id="comment-title">2016-06-08</span>
                <p id="comment-text">
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                </p>
            </div>
        </div>
   </div>

</template>

<template name="removeCommentBtn">
    <a id="remove-comment-btn" href="#">
        <i class="material-icons md-16 md-light">
            clear
        </i>
    </a>
</template>

<template name="addCommentButton">

    <a id="add-comment-btn" class="btn-small btn-floating waves-effect waves-light" rel="popover">
        <i class="material-icons md-18">
            comment
        </i>
    </a>

</template>

<template name="actionButtons">
    <ul class="card-action-buttons">
        <li>
            <a class="btn-small btn-floating waves-effect waves-light activator">
                <i class="material-icons">
                    more_vert
                </i>
            </a>
        </li>
        <li>
            <a class="btn-small btn-floating waves-effect waves-light">
                <i class="material-icons">
                    clear
                </i>
            </a>
        </li>
        <li>
            <a class="btn-small btn-floating waves-effect waves-light">
                <i class="material-icons">
                    mode_edit
                </i>
            </a>
        </li>
    </ul>
</template>

<template name="socialIcons">
    <div class="container" id="icons-container">
    <ul class="social-icons">
        <li>
            <a href="#">
            <img class="img-circle" id="social-media-img" src="../images/fb.png" alt="24x24">
            </a>
        </li>
        <li>
            <a href="#">
            <img class="img-circle" id="social-media-img" src="../images/youtube.png" alt="24x24">
            </a>
        </li>
        <li>
            <a href="#">
            <img class="img-circle" id="social-media-img" src="../images/twitter.png" alt="24x24">
            </a>
        </li>
        <li>
            <a href="#">
            <img class="img-circle" id="social-media-img" src="../images/insta.png" alt="24x24">
            </a>
        </li>
    </ul>
    </div>
</template>
